#sub input[type="checkbox"]:checked + .dropdown-content1 {
    display: block;
  }

header {
    height: 70px;
    background-color: white;
}

.dropbtn {
  color:black;
  padding: 15px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  float: right;
  margin-top: 15px;
}

.dropdown a:visited {color: black;}
.dropdown a:hover {background-color:lightseagreen;text-decoration: none; color:white;}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content1 {
    display: none;
    position: absolute;
    background-color:lightgray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content1 a {
    color:lightseagreen;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color:lightseagreen;}
.dropdown-content1 a:hover {background-color: gray;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropdown-content1 {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color:lightseagreen;color: white;}

#h11{
    color:lightseagreen;
    margin:15px;
    text-indent: 20px;
}

h2{
    color: lightseagreen;
    margin-left: 20px;
    margin-top: 30px;
    margin-right: 20px;
}

h4{
    color: lightseagreen;
    margin-right: 20px;
    text-align: center;
    margin-top: 20px;
}

img{
    width: auto;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px
    
}

body {background-color:lightgrey;}


#heading {
    color: white;
    background-color: lightseagreen;
    width: fit-content;
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 7%;
    margin-bottom: 0;
    float: left;
}

#heading a:hover {text-decoration: none;color: white;}
#heading a:visited {color: white;}



.container {
    align-self: center;
    margin-top: 50px;
    margin-left: 3%;
    margin-right: 3%; 
    max-width: inherit;
    height: auto;
}

.col-md-4 {
    background-color: white;
    height: fit-content;
    margin-right: 35px;

}

.col-md-7 {
    background-color: white;
    margin-right: 35px;
    margin-bottom: 20px;
}

.col-md-12{
    background-color: white;
    width: -webkit-fill-available;
}

#hidden_when_md{
    display: none;
    height: 70px;
}

#md_nav {
    margin-top: 0;
    height: 70px;
}

@media screen and (max-width: 600px){
    .col-sm-12_main{
        max-width: inherit;
    }

    .col-sm-12_visual{
        max-width: fit-content;
        margin-right: 35px;
    }

    .col-md-3 {
        margin-top: 20px;
    }

    #md_nav {
        display: none;
    }
    
    #hidden_when_md {
        display: inline-block;
        float: right;
    }
}
#summary {
    width: 30%;
    float:left;
    margin: 15px
}

#hr1 {
    margin: 30px;
}

#hr2 {
    margin: 1px;
}

#hr3 {
    border: 5px solid lightseagreen;
    margin:0
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:gray;
    color: white;
    text-align: center;
    height: 7%;
  }

p {
    line-height: 30px;
    font-size: 15px;
}

body {
    margin-bottom: 7%;
}

table {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid black;
    text-align: center;
}


td, tr {
    width: fit-content;
    padding: 10px;
}

tr:hover {background-color: #f5f5f5;}
tr:nth-child(even) {background-color: #f2f2f2;}